

<div>
    <app-s8o2o1-database>
    </app-s8o2o1-database>
</div>
    
<div>
    <app-s8o2o2-gestiondata>
    </app-s8o2o2-gestiondata>
</div>


<div>
    <app-s8o2o3-draggable>
    </app-s8o2o3-draggable>
</div>

<div>
    <app-s8o1o9o1o1-ui>
    </app-s8o1o9o1o1-ui>
</div>

<div>
    <app-s8o1o9o1o2-position>
    </app-s8o1o9o1o2-position>
</div>

<div>
    <app-s8o1o2-services>
    </app-s8o1o2-services>
</div>



<!--
<div>
    <app-s8o1o1-cmdcenter>
    </app-s8o1o1-cmdcenter>
</div>

*ngIf="VarB_FileDraggable"
*ngIf="VarB_FileGestionData"
*ngIf="VarB_FileDatabase"
-->
