.container{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 5%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.textSection{
  margin: 3%;
display: flex;
flex-direction: column;
align-items: center;
}
