.container{
    background-color: #286DA8;
    margin-top: 15px;
    display: flex;
    padding: 1% 15% 1% 15%;
    max-width: 100%
  }
.contact{
    width: 20%;
    text-align: center;
}

.center{
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.about{
    width: 20%;
    text-align: center;


}
h2, p {
    text-align: center;
    color: white;
}
.socialmedia{
    background-color: white;
    width: 350px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #286ca82a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
svg{color:#286DA8 ;}
