<div class="testbox">
<!-- 
<div class="row">
    <div class="col-6">
        <table class="tableGroup">
            <tr class="listGroup">
                <td></td>
            </tr>
        </table>
    </div>
</div> -->
<span *ngIf="levelAdvancement>0" class="material-symbols-outlined" (click)="returnByOneLevel()">
    arrow_back
    </span>
    <table>
        
        <tr>
            <td>{{fieldStart.Formulaire_Name}}</td>
            <td *ngIf="canUpDateField">
                <select  [(ngModel)]="formId" (change)="getTables()">
                    <option value="" *ngIf="formId==''">choose one form</option>
                    <option *ngFor="let form of formToChoose" value="{{form.Formulaire_Id}}">{{form.Formulaire_Name}}</option>
                </select>
                
            </td>
            <td *ngIf="!canUpDateField">
                {{fieldRefers.Formulaire_Name}}
            </td>
        </tr>

        
        <tr>
            <td>{{fieldStart.Table_Name}}</td>
            <td *ngIf="canUpDateField">

                <select  [(ngModel)]="tabId" (change)="getFields()">
                    <option value="" *ngIf="tabId==''">choose one table</option>
                    <option *ngFor="let tab of tabToChoose" value="{{tab.Table_Id}}">{{tab.Table_Name}}</option>
                </select>
            </td>
            <td *ngIf="!canUpDateField">
                {{fieldRefers.Table_Name}}
            </td>
        </tr>

        
        <tr>
            <td>{{fieldStart.Name}}</td>
            <td *ngIf="canUpDateField">

                <select  [(ngModel)]="newRef">
                    <option value="" *ngIf="newRef==''">choose one field</option>
                    <option *ngFor="let field of fieldToChoose" value="{{field.Field_Id}}">{{field.Name}}</option>
                </select>
            </td>
            <td *ngIf="!canUpDateField">
                {{fieldRefers.Name}}
            </td>
        </tr>
    </table>
  
    <h6 *ngIf="!canUpDateField"  class="litleFieldsRef">
        fields to be Referenced 
    </h6>
    <div>    
        <table *ngIf="!canUpDateField">
            <tr *ngFor="let field of fieldsToChooseShow;let index=index">
                <td>{{field.Name}}</td>
                <td>{{field.Type}}</td>
                <td><input type="checkbox" (change)="addOrRemoveField($event,index)" [(ngModel)]="field.selected"></td>
                <td *ngIf="field.selected&&(field.Type=='list')"><span (click)="nextReferenceToSee(field)" class="material-symbols-outlined">
                    more_vert
                    </span></td>
                <td *ngIf="!(field.selected&&(field.Type=='list'))"></td>
            </tr>
        </table>

        <!-- <app-table-fields-reference [fieldRefersId]="fieldRefersId" [choiceId]="choiceId"></app-table-fields-reference> -->
    </div>


    <div class="btnBlock">
        <button class="btn-delete" *ngIf="choiceId" (click)="deleteReference()">Delete Reference</button>
        <button (click)="close()">validate</button>
        <button *ngIf="canUpDateField" (click)="createGenerateRelation()">create relation</button>
    </div>
</div>