<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   
</body>
</html>
<div class="overlay">

   <form [formGroup]="log" (ngSubmit)="onSubmit()">

      <div class="con">
         
         <header class="head-form">
            <h2>Log In</h2>
            <p>login here using your email and password</p>
         </header>

         <br>
         
         <div class="field-set">
               <span class="input-item">
                  <i class="fa fa-user-circle icon"></i>
               </span>
            
            /* Input User */
            <input style="height:35px ;" class="form-input" id="txt-input" type="text" required
               placehoder="unter login"
               [(ngModel)]="U_login"
               formControlName="login">

            <br>
            <span class="input-item">
               <i class="fa fa-key icon"></i>
            </span>
            
            /* Input Password */
            <input class="form-input" style="height:35px ;" type="password" placeholder="Password" id="pwd"  name="password" required
               [(ngModel)]="U_pwd"
               formControlName="password">

            <br>

            /* Button Log In */
            <button class="log-in" type="submit"> Log In </button>
         
         </div>

         <div class="other">

            <button class="btn submits frgt-pass">Forgot Password</button>
            
            <a class="btn submits sign-up" href="auth/register" > Sign Up 
               <i class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
         
         </div>

      </div>

   </form>

</div>
