.ConsequencesContainer{
    border: solid #003865;
    border-radius: 20px;
    margin: 2%;
    padding: 2%;
    background-color: #fff;
    color: #003865;
    font-weight: bold;
    font-size: 1.2em;
    overflow: auto;
}
.OneConsequence{
    border: solid #003865;
    border-radius: 20px;
    margin: 2%;
    background-color: #003865;
    color: #fff;
    font-weight: bold;
    overflow: auto;
    cursor: pointer;
}
.OneConsequence:hover{
    background-color: #9ab9d2;
    color: #003865;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
    cursor: pointer;
  }
.material-symbols-outlined:hover{
    color: #003865;
}


button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #003865;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    }
    button:hover {
    background: #607EAA;
    }


    .deleteIcon{
        float: left;
        margin-top: 1%;
    
    }

    .deleteIcon:hover{
        color: #f00a0a;
    }

    
    .selectDelete{
        color: red;
    }