<div class="pagecontainer">
  <div class="formcontainer">
      <h3>Nouveau compte</h3>
      <div class="carrecontainer">
          <form [formGroup]="log" (ngSubmit)="onSubmit()">
              <div class="twoinputs">
                <div class="formItem">
                  <label>Nom</label>
                  <input type="text" required placehoder="unter name" [(ngModel)]="U_nom"
                      formControlName="nom" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
                  <div *ngIf="submitted && f.nom.errors">
                      <div *ngIf="f.nom.errors.required" class="error">name is required</div>
                  </div>
                </div>
                <div class="formItem">
                  <label>Prenom</label>
                  <input type="text" required placehoder="unter last name" [(ngModel)]="U_prenom"
                      formControlName="prenom" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }">
                  <div *ngIf="submitted && f.prenom.errors">
                      <div *ngIf="f.prenom.errors.required" class="error">Last name is required</div>
                  </div>
                </div>
              </div>
              <div class="twoinputs">
              <div class="formItem">
                <label>Téléphone</label>
                <input type="tel" required placehoder="unter phone" [(ngModel)]="U_phone"
                    formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors">
                    <div *ngIf="f.phone.errors.required" class="error">phone is required</div>
                </div>
              </div>
              <div class="formItem">
                <label> Statut</label>
                <select style="max-width:100%" required placehoder="unter statut " [(ngModel)]="U_statut"
                formControlName="statut" [ngClass]="{ 'is-invalid': submitted && f.statut.errors }">
                    <option value="autre" selected="selected">Autre </option>
                    <option value="professionnel(le)">professionnel(le)</option>
                    <option value="personnel(le)">personnel(le)</option>

                </select>
                <div *ngIf="submitted && f.statut.errors">
                  <div *ngIf="f.statut.errors.required" class="error">statut is required</div>
              </div>
            </div>
            </div>
              <div class="twoinputs">
                <div class="formItem">
                  <label>Email</label>
                  <input type="email" required placehoder="unter Email" [(ngModel)]="U_email"
                      formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors">
                      <div *ngIf="f.email.errors.required" class="error">Email is required</div>
                  </div>
                </div>
                <div class="formItem">
                  <label>Mot de passe</label>
                  <input type="password" required placehoder="unter password" [(ngModel)]="U_pwd"
                      formControlName="pwd" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }">
                  <div *ngIf="submitted && f.pwd.errors">
                      <div *ngIf="f.pwd.errors.required" class="error">Password is required</div>
                  </div>
                </div>
              </div>



              <div class="buttonsection">
                <input type="submit" class="button">
                <input type="reset" class="button" href="auth/login">
              </div>
          </form>
      </div>
  </div>
</div>


