




<div class="cards-list">
  
    <div class="card" *ngFor="let form of forms;let index=index" [ngClass]="form.selected ? 'selected' : 'notSelected'" (click)="selectForm(index)">
    
      <div class="card_title title-white">
        <p>{{form.Formulaire_Name}}</p>
      </div>
    </div>
</div>
    <br>

    <div class="cards-list">
  
        <div class="card" *ngFor="let repose of responses;let index=index" [ngClass]="repose.selected ? 'selected' : 'notSelected'" (click)="selectCodes(index)">
        
          <div class="card_title title-white">
            <p>{{repose.reponse_Name}}</p>
          </div>
        </div>
    
    </div>

    <br>


    
    <div class="cards-list">
  
        <div class="card" *ngFor="let code of codes;let index=index"  (click)="getcode(index)">
        
          <div class="card_title title-white">
            <p>{{code.File_Name}}</p>
          </div>
        </div>


        <div class="card" *ngIf="canAdd" (click)="addCode()">
      
          <div class="card_title title-white">
            <p>+</p>
          </div>
        </div>
    
    </div>
    



    <div class="bg" *ngIf="showCodeIsOpen||addCodeFormIsOpen">
      <app-python-compiler  *ngIf="showCodeIsOpen" [editable]="true" [codeGraph]="codeGraph" (closePopUp)="openCode()" [reponse_id]="responseSelected"></app-python-compiler>
      <app-python-compiler *ngIf="addCodeFormIsOpen" [reponse_id]="responseSelected" (closePopUp)="openAddCode()"></app-python-compiler>
    </div>
    

