.deletePopUp{
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
    min-width: 500px;
    min-width: 500px;
    min-height: 500px;
    max-height: 500px;
	transform: translate(-50%, -50%);
	z-index: 1;
  overflow:hidden;
  overflow-y:auto;
}
.material-symbols-outlined {
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .material-symbols-outlined:hover{
    color: rgb(19, 115, 216);
  }
