<div class="deletePopUp" *ngIf="ChoicesPopUp">

        <div class="modal-body">

<div class="choice-block">
  <button class="btn btn-choice" (click)="openChoicesItemsList()">Manual</button>
  <button class="btn btn-choice" (click)="openParmFile()">From Excel</button>
  <button class="btn btn-choice" (click)="openReferenceTab()">Reference</button>
</div>



<div class="validation-block">
  <button class="btn btn-choice" (click)="close()">validate</button>
</div>








          <!-- <ol>
            <li><span class="material-symbols-outlined" (click)="openChoicesItemsList()">
                arrow_drop_down
                </span>
                Choices:
            <ul *ngIf="choicesItemsIsOpen">
                <li *ngFor="let choice of ChoicesItems"><input type="text" [(ngModel)]="choice.choiceItem" value="{{choice.choiceItem}}" (change)="correctChoice(choice['Choice_Id'],choice.choiceItem)"><span class="material-symbols-outlined"(click)="deleteChoice(choice.Choice_Id,false)">
                    delete
                    </span></li>
                <li *ngIf="!addChoiceItemForm"><button class="btn btn-secondary" (click)="openFormChoiceItem()">+</button></li>
                <li *ngIf="addChoiceItemForm">New Choice:</li>
                <li *ngIf="addChoiceItemForm"><input type="text" [(ngModel)]="newChoiceItem" placeholder="choice to add..."></li>
                <li *ngIf="addChoiceItemForm"><button class="btn btn-secondary" (click)="addChoiceItem()">confirm</button></li>
                <li *ngIf="addChoiceItemForm"><button class="btn btn-secondary" (click)="openFormChoiceItem()">cancel</button></li>
                <li *ngIf="addChoiceItemForm"><input type="file" accept=".xlsx,.csv,.xls,.xlsm" (change)="ReadExcel($event)"></li>
                <li *ngIf="addChoiceItemForm&&chooseParmFile"><select [(ngModel)]="fileColChosen">
                    <option value="">choose a col</option>
                    <option *ngFor="let col of fileColNames" value="{{col}}">{{col}}</option>
                </select></li>
                <li *ngIf="addChoiceItemForm&&chooseParmFile"><button class="btn btn-secondary" (click)="loadDataExcel()">confirm</button></li>

            </ul>
            </li>
          </ol> -->
        </div>

        <!-- <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" (click)="openReferenceTab()" >create reference</button>

          <button type="button" class="btn btn-secondary" (click)="close()" >Cancel</button>
      </div> -->


    <div class="bg" *ngIf="referenceTabIsOpen||choicesItemsIsOpen||chooseParmFile">
        <app-refrence-field *ngIf="referenceTabIsOpen" [canUpDateField]="canUpDateField"
                            [fieldStartId]="FieldId" [fieldRefersId]="referenceId" 
                            (closePopUp)="closeReferenceTab()"
                            [choiceId]="choiceToReferId"></app-refrence-field>

        <app-manuel-choice *ngIf="choicesItemsIsOpen" [FieldId]="FieldId" (closePopUp)="openChoicesItemsList()"></app-manuel-choice>
        <app-excel-choice *ngIf="chooseParmFile" [FieldId]="FieldId" (closePopUp)="openParmFile()"></app-excel-choice>
      </div>