<div class="pagecontainer">
  <h3>Ajouter produit</h3> <br>
  <div class="formcontainer">

      <div class="">
          <form [formGroup]="addP" (ngSubmit)="onSubmit()">
              <div class="formItem">
                  <label> Nom</label>
                  <input type="text" required placehoder="unter product name" [(ngModel)]="P_name"
                      formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  <div *ngIf="submitted && f.name.errors">
                      <div *ngIf="f.name.errors.required" class="error">nom est obligatoire </div>
                  </div>
              </div>

              <div class="formItem">
                  <label> Categorie</label>
                  <select style="width:auto" required [(ngModel)]="P_categ" formControlName="category"
                      [ngClass]="{ 'is-invalid': submitted && f.category.errors }">

                      <option *ngFor="let c of CategList" value="{{c.Categ_Id}}">{{c.Categ_Name}}
                          <!--<input type="hidden" id="categid" value="{{c.Categ_Id}}">-->
                      </option>
                  </select>
                  <div *ngIf="submitted && f.category.errors" class="error">
                      <div *ngIf="f.category.errors.required">categorie est obligatoire</div>
                  </div>
              </div>
              <div class="formItem">
                  <label> Description</label>
                  <input type="text" required placehoder="unter description" [(ngModel)]="P_desc"
                      formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                  <div *ngIf="submitted && f.description.errors" class="error">
                      <div *ngIf="f.description.errors.required">description est obligatoire</div>
                  </div>
              </div>
              <div class="formItem">
                  <label> Marque</label>
                  <input type="text" required placehoder="unter marque" [(ngModel)]="P_marque"
                      formControlName="marque" [ngClass]="{ 'is-invalid': submitted && f.marque.errors }">
                  <div *ngIf="submitted && f.marque.errors" class="error">
                      <div *ngIf="f.marque.errors.required">marque  est obligatoire</div>
                  </div>
              </div>
              <div class="formItem">
                  <label> Prix</label>
                  <input type="number" [min]="0" required placehoder="unter price" [(ngModel)]="P_price" formControlName="price"
                      [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                  <div *ngIf="submitted && f.price.errors" class="error">
                      <div *ngIf="f.price.errors.required" style="color:red; font-style:bold;">price is required</div>
                  </div>
              </div>

              <div class="formItem">
                  <label> Image</label>
                  <input type="file" required (change)="uploadPhoto($event)" placehoder="unter image" [(ngModel)]="P_image"
                      formControlName="image" [ngClass]="{ 'is-invalid': submitted && f.img.errors }">
                  <div *ngIf="submitted && f.img.errors" class="error">
                      <div *ngIf="f.img.errors.required" >image est important</div>
                  </div>
              </div>

              <div class="buttonsection">
                  <input type="submit" value="Ajouter"class="buttonText">
                  <input type="reset"value="Annuler" class="buttonText" [routerLink]="'/P_All_Product'">
              </div>
          </form>
      </div>
  </div>
