<div class="container" style="width: 60%">
  <article class="card">
    <header class="card-header">Mes commandes</header>
    <div class="card-body" *ngFor="let item of orders">
      <h6>Numero de commande: #{{ item[0].Ord_Id }}</h6>
      <article class="card">
        <div class="card-body row">
          <div class="col">
            <strong>Date de commande:</strong> <br />{{ item[0].Ord_Date }}
          </div>
          <div class="col"><strong>Date de livraison :</strong> <br /></div>
          <div class="col" *ngIf="!isAdmin&&!isFnx">
            <strong>Etat de commande:</strong> <br />
            {{ item[0].Ord_Status }}
          </div>
          <div class="col">
            <strong>Totale :</strong> <br />
            {{ item.total }} $
          </div>
        </div>
      </article>
      <div class="track" *ngIf="!isAdmin&&!isFnx">
        <div  [className]="item.isCreated ? 'step active' : 'step'">
          <span class="icon"> <i class="fa fa-check"></i> </span>
          <span class="text">Créée</span>
        </div>
        <div [className]="item.isPaid ? 'step active' : 'step'">
          <span class="icon"> <i class="fa fa-credit-card"></i> </span>
          <span class="text"> Payée</span>
        </div>
        <div  [className]="item.isInshipping ? 'step active' : 'step'">
          <span class="icon"> <i class="fa fa-truck"></i> </span>
          <span class="text"> en livraison </span>
        </div>
        <div  [className]="item.islivred ? 'step active' : 'step'">
          <span class="icon" > <i class="fa fa-home"></i> </span>
          <span class="text">Livrée</span>
        </div>
      </div>
      <a class="d-flex justify-content-end" (click)="open()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-down"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
          />
        </svg>
      </a>
      <hr />
      <ul class="row" *ngIf="isOpen == true">
        <li class="col-md-4" *ngFor="let prod of item[1]">
          <figure class="itemside mb-3">
            <div class="aside">
              <img
                src="../../assets/{{ prod.Prod_Img }}"
                class="img-sm border"
              />
            </div>
            <figcaption class="info align-self-center">
              <p class="title">
                {{ prod.Prod_Name }} <br />
                8GB RAM
              </p>
              <span class="text-muted">{{ prod.Prod_Price }} $</span>
              <p>Qantité : {{ prod.Ord_Qte }} </p>
            
            </figcaption>

          </figure>
          <div class="track" *ngIf="isAdmin">
            <div  [className]="prod.OrdLign_Status=='créée'||prod.OrdLign_Status=='en livraison'  ? 'step active' : 'step'">
              <span class="icon"> <i class="fa fa-check"></i> </span>

            </div>

            <div  [className]="prod.OrdLign_Status=='en livraison'||prod.OrdLign_Status=='livrée' ? 'step active' : 'step'">
              <span class="icon"> <i class="fa fa-truck"></i> </span>

            </div>
            <div  [className]="prod.OrdLign_Status=='livrée' ? 'step active' : 'step'">
              <span class="icon"> <i class="fa fa-home"></i> </span>

            </div>

          </div>
        </li>
      </ul>
      <hr />
      <!--  <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Reacheter</a>-->
    </div>
  </article>
</div>
