 <div class="container">
  <div class="btn-block" style="text-align:right ;">
    <button (click)="openServList()">Serv</button>
  </div>
  
    <table>
        <tbody class="blueTable" *ngFor="let formulaire of formulaires;let index=index">
        <tr>
            <td (click)="openFormPage(formulaire.Formulaire_Id)">{{formulaire.Formulaire_Name}}</td>
            <td></td>
            <td></td>
            <td class="cancelIcon" (click)="opendeleteForm(formulaire.Formulaire_Id,formulaire.Formulaire_Name)"><span class="material-symbols-outlined">
              cancel
              </span></td>
           
            <td><a class="d-flex justify-content-end" (click)="open(index)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
                  />
                </svg>
              </a></td>
              


            
        </tr>
        <tr *ngIf="formulaire.isOpen"> 
        <td colspan="5">
            <tr *ngFor="let reponse of formulaire.reponses;let indexR=index" class="boder"> 
                <td ><a  class="myButton"  (click)="openTable(formulaire.Formulaire_Id,reponse.Reponse_Id)">open</a></td>
                <td (click)="openReponseFormPage(index,indexR)">{{reponse.reponse_Name}}</td>
                <td><p *ngIf="reponse.reponse_level!=null">etape n°{{reponse.currentServ.Serv_order}}</p> 
                <p *ngIf="reponse.reponse_level==null">reponse est executé </p></td>
                <td><p *ngIf="reponse.reponse_level!=null">{{reponse.currentServ.Serv_Name}}</p></td>
                <td><p *ngIf="reponse.reponse_level!=null">{{reponse.currentServ.userName}}</p></td>
                <td (click)="putReponseInArchive(reponse.Reponse_Id,index,indexR)"><span class="material-symbols-outlined">
                  cancel
                  </span></td>
                
    
            </tr>
            <tr *ngIf="isAdmin">
                <td></td>
                <td></td>
                <td><input *ngIf="formulaire.addReponseForm"  type="text" placeholder="Reponse Name..." [(ngModel)]="newReponseName"></td>
                <td><a *ngIf="formulaire.addReponseForm"  class="myButton" (click)="addNewReponse(formulaire.Formulaire_Id)">confirmer</a></td>
                <td><a *ngIf="!formulaire.addReponseForm" class="myButton" (click)="openReponseForm(index)">+</a></td>
                <td></td>
    
            </tr>
        </td>
    </tr>
    

        </tbody>
    </table>
    <div class="btn-block" style="text-align:right ;">
        <button (click)="openForm()"  *ngIf="isAdmin">
        create formulaire
        </button>    
      </div>
<div class="bg" *ngIf="creatFormIsOpen||todelete||servFormIsOpen||servShowIsOpen||servList">
<div class="testbox" *ngIf="creatFormIsOpen">
  <form >
    <div class="banner">
      <h1>Form Creation</h1>
    </div>
    <div class="item">
      <label for="name">Name<span class="red">*</span></label>
      <div class="name-item">
        <input id="name" type="text" name="name" placeholder="Name" [(ngModel)]="newFormulaireName" [ngModelOptions]="{standalone: true}"/>
        <input type="text" name="name" placeholder="Description" [(ngModel)]="newFormulaireStatus" />
      </div>
    </div>
    <div class="question">
      <label>Services:</label>
      <div class="question-answer">
        <div>
          <ul class="ks-cboxtags">
            <li *ngFor="let serv of servsExamples;let index=index"><input type="checkbox" id="{{serv.Serv_Name}}" [(ngModel)]="serv.isAdded" (change)="addOrRemoveServ(index)" [ngModelOptions]="{standalone: true}"><label for="{{serv.Serv_Name}}">{{serv.Serv_Name}}</label></li>
            <li><input type="checkbox" id="+"  (click)="goToCreatServForm()" value="false"><label for="+"></label></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="btn-block">
      <button class="redBackGround" (click)="closeForm()">Cancel</button>
      <button (click)="addNewFormulaire()">Create Formulaire</button>
      
    </div>
  </form>
</div>











<!-- <div class="listItems" *ngIf="todelete">
  <h3>are you sur to delete {{deleteFormName}}!?</h3>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="myButton" (click)="opendeleteForm(null,'')">cancel</a>
  <a class="myButton" (click)="deleteFormulaire()">yes</a>
  
</div> -->




<div class="deletePopUp" *ngIf="todelete">
<div class="modal-dialog modal-confirm">
  <div class="modal-content">
    <div class="modal-header flex-column">
      <div class="icon-box">
        <i class="material-icons">&#xE5CD;</i>
      </div>						
      <h4 class="modal-title w-100">Are you sure?</h4>	
    </div>
    <div class="modal-body">
      <p>Do you really want to delete {{deleteFormName}}? This process cannot be undone.</p>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-secondary" (click)="opendeleteForm(null,'')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteFormulaire()">Delete</button>
    </div>
  </div>

</div>
</div>






 <!-- <div class="listItems" *ngIf="servFormIsOpen">
  <h3>new Service</h3>
  <br>
  <br>
  <input type="text" placeholder="New Serv Name..." [(ngModel)]="servToCreate">
  <br>
  <br>
  <h5>Users:</h5>
  <p *ngFor="let user of usersNewServ;let index=index">{{user.U_FirstName}}  {{user.U_LastName}}<i class="material-icons"(click)="deleteUser(index)" >close</i></p>
  <a *ngIf="!userForm" (click)="addUserForm()" class="myButton">+</a>
  <select *ngIf="userForm" [(ngModel)]="newUserId">
    <option value="0">choisir un utilisateur</option>
    <option *ngFor="let user of users" value="{{user.U_Id}}">{{user.U_FirstName}}  {{user.U_LastName}}</option>
  </select>
  <a *ngIf="userForm" (click)="addUser()" class="myButton">confirme</a>

<br>
<br>

  <a class="myButton" (click)="closeServForm()">cancel</a>
  <a class="myButton" (click)="creatServ()">create</a>

</div>  -->




<div class="listServ" *ngIf="servFormIsOpen">
  <div class="leaderboard">
    <div class="head" style="display:table ;">
      <span class="material-symbols-outlined">
        settings
        </span>
        <input type="text" style="color: black;" class="head leftMvt" placeholder="New Serv Name..." [(ngModel)]="servToCreate">
        <i (click)="closeServForm()" class="material-icons close">
          close
        </i>
    </div>
    <div class="body">
      <ol>
       <li *ngFor="let user of usersNewServ;let index=index" class="ling"><mark (click)="openServShow(index)">{{user.U_FirstName}}  {{user.U_LastName}}</mark><small><span (click)="deleteUser(index)"  class="material-symbols-outlined deleteServ">
        cancel
        </span></small> </li>
        <li class="ling" (click)="addUserForm()"> <mark>add new User...</mark></li>
       
      </ol>
 

      <div class="select-dropdown"  *ngIf="userForm">
        <select [(ngModel)]="newUserId">
          <option value="0">choose user</option>
          <option *ngFor="let user of users" value="{{user.U_Id}}">{{user.U_FirstName}}  {{user.U_LastName}}</option>
        </select>
      </div>

      <div class="btn-block-serv" *ngIf="userForm" >
      
        <span  (click)="addUserForm()" class=" returnBtn material-symbols-outlined">
          keyboard_return
          </span>
        <span  (click)="addUser()" class="addBtn material-symbols-outlined">
          add_circle
          </span>
        
      </div>
      <div class="btn-block">
        <button (click)="creatServ()" >create</button>
      </div>
    </div>

  </div>
</div>







<div class="listServ" *ngIf="servList">
  <div class="leaderboard">
    <div class="head" style="display:table ;">
      <span class="material-symbols-outlined">
        settings
        </span>
      <h1 class="head leftMvt" >Services</h1>
      <i (click)="openServList()" class="material-icons close">
        close
      </i>
    </div>
    <div class="body">
      <ol>
       <li *ngFor="let serv of servsExamples;let index=index"class="ling"><mark  (click)="openServShow(index)" >{{serv.Serv_Name}}</mark><small><span (click)="deleteServ(index)"  class="material-symbols-outlined deleteServ">
        cancel
        </span></small> </li>
        <li class="ling" (click)="addServForm()"> <mark>add new Serv...</mark></li>
       
      </ol>
    </div>
 
  </div>
</div>





<div class="listServ" *ngIf="servShowIsOpen">
  <div class="leaderboard">
    <div class="head" style="display:table ;">
      <span class="material-symbols-outlined">
        settings
        </span>
      <h1 class="head leftMvt" >{{servToShow}}</h1>
      <i (click)="closeServShow()" class="material-icons close">
        close
      </i>
    </div>
    <div class="body">
      <ol>
       <li *ngFor="let user of usersOfServToShow;let index=index"  class="ling"><mark>{{user.U_FirstName}}  {{user.U_LastName}}</mark><small><span (click)="deleteUserShow(index)"  class="material-symbols-outlined deleteServ">
        cancel
        </span></small> </li>
        <li class="ling" (click)="openUserFormShow()"> <mark>add new User...</mark></li>
       
      </ol>

      <div class="select-dropdown"  *ngIf="userFormShow">
        <select [(ngModel)]="newUserId">
          <option value="0">choose user</option>
          <option *ngFor="let user of usersToAddShow" value="{{user.U_Id}}">{{user.U_FirstName}}  {{user.U_LastName}}</option>
        </select>
      </div>

      <div class="btn-block-serv" *ngIf="userFormShow" >
      
        <span  (click)="closeUserFormShow()" class=" returnBtn material-symbols-outlined">
          keyboard_return
          </span>
        <span  (click)="addUserShow()" class="addBtn material-symbols-outlined">
          add_circle
          </span>
        
      </div>
    </div>

  </div>
</div>





 <!-- <div class="listItems" *ngIf="servShowIsOpen">
  <br>
  <h3>{{servToShow}}</h3>
  <br>

  <br>
  <h5>Users:</h5>
  <p *ngFor="let user of usersOfServToShow;let index=index">{{user.U_FirstName}}  {{user.U_LastName}}<i class="material-icons"(click)="deleteUserShow(index)" >close</i></p>
  <a *ngIf="!userFormShow" (click)="openUserFormShow()" class="myButton">+</a>
  <br>
  <select *ngIf="userFormShow" [(ngModel)]="newUserId">
    <option value="0">choisir un utilisateur</option>
    <option *ngFor="let user of usersToAddShow" value="{{user.U_Id}}">{{user.U_FirstName}}  {{user.U_LastName}}</option>
  </select>
  <br>
  <br>
  <a *ngIf="userFormShow" (click)="closeUserFormShow()" class="myButton">cancel</a>
  <a *ngIf="userFormShow" (click)="addUserShow()" class="myButton">confirme</a>

<br>
<br>

  <a class="myButton" (click)="closeServShow()">return</a>
-->
</div>
</div> 
