<div class="container">
    <!--header_Table_formulaire-->
<div class="infoRponse">
     <h3>Reponse:{{reponse.reponse_Name}}</h3>
     <table>
        <tbody>
            <tr *ngFor="let serv of servs">
            <td>etape n°{{serv.Serv_order}}</td>
            <td>{{serv.Serv_Name}}</td>
            <td>{{serv.userName}}</td>
            </tr>
        </tbody>
     </table>
    <h3 *ngIf="reponseIsOnWork">etape n°{{etapNum}}</h3>
    <h3 *ngIf="!reponseIsOnWork">reponse est executé </h3>
</div>
<div class="infoRponse">
<p-treeTable [value]="data" [columns]="fields">
   <ng-template pTemplate="header" let-columns>
       <tr >
         
           <th *ngFor="let field of fields">
               {{field.Name}}
           </th>
       </tr>
   </ng-template>
 

   <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="fields" >
  

   
    
       <!--lignes_parent-->
       <tr> 
           <td *ngFor="let field of fields; let i = index">
            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i==0"></p-treeTableToggler>
            <p *ngIf="field.Status=='consulté'">{{fieldVal(rowNode,field.Name)}}</p>
            <div *ngIf="(field.Status=='modifié')&&(inRow(field.Name,rowNode.level))" [ngSwitch]="field.Type" >
            <input (change)="changeInField(field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
            type="date" 
            *ngSwitchCase="'date'" style="width: 100px ;"  [(ngModel)]="rowNode['node'][field.Name]">
            <input (change)="changeInField(field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
            type="number" 
            *ngSwitchCase="'integer'" style="width: 100px ;" [(ngModel)]="rowNode['node'][field.Name]">
            <input (change)="changeInField(field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
            type="checkbox" 
            *ngSwitchCase="'boolean'" style="width: 100px ;" [(ngModel)]="rowNode['node'][field.Name]">
            <input (change)="changeInField(field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
            type="number" step="0.01"
            *ngSwitchCase="'real'" style="width: 100px ;" [(ngModel)]="rowNode['node'][field.Name]">
            <div *ngSwitchCase="'character varying(255)'" >
                <input style="width: 100px ;" (change)="changeInField(field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
                type="text" *ngIf="field.choises==null" [(ngModel)]="rowNode['node'][field.Name]">
                <select style="width: 100px ;" (change)="changeInField(field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
                *ngIf="field.choises!=null" [(ngModel)]="rowNode['node'][field.Name]">
                    <option value="">choose</option>
                    <option *ngFor="let choix of field.choisesList" value="{{choix}}">{{choix}}</option>
                </select>
            </div>
            <p *ngSwitchDefault>undetermined</p>
        </div>
           </td>
       </tr>
       <tr *ngIf="(rowNode.node.children)&&(rowNode.node.children.length==0)&&(spaceTable(rowNode.level+1)!=-1)&&(!rowNode.node.childrenForm)&&(etapNum==1)&&isWorking">  
        <td *ngFor="let field of fields; let index=index">
              <a class="myButton" *ngIf="spaceTable(rowNode.level+1)==index" (click)="addNewRelationForm(rowNode)">+</a>
          </td>
           </tr>
        <!--new_ligne_form-->
        <tr *ngIf="(rowNode.node.children)&&(rowNode.node.children.length==0)&&(spaceTable(rowNode.level+1)!=-1)&&(rowNode.node.childrenForm)">
            <td *ngFor="let field of fields; let index=index">
                <div *ngIf="(inRow(field.Name,rowNode.level+1))&&(field.Status=='modifié')" [ngSwitch]="field.Type" >
                    <input 
                    type="date" 
                    *ngSwitchCase="'date'" style="width: 100px ;"  [(ngModel)]="newRow[field.Name]">
                    <input 
                    type="number" 
                    *ngSwitchCase="'integer'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]">
                    <input 
                    type="checkbox" 
                    *ngSwitchCase="'boolean'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]">
                    <input 
                    type="number" step="0.01"
                    *ngSwitchCase="'real'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]">
                    <div *ngSwitchCase="'character varying(255)'" style="width: 100px ;">
                        <input type="text" *ngIf="field.choises==null" [(ngModel)]="newRow[field.Name]">
                        <select *ngIf="field.choises!=null" [(ngModel)]="newRow[field.Name]">
                            <option value="">choose</option>
                            <option *ngFor="let choix of field.choisesList" value="{{choix}}">{{choix}}</option>
                        </select>
                    </div>
                    <p *ngSwitchDefault>undetermined</p>
                </div>
              
            </td>

        </tr>
        
            <tr *ngIf="(rowNode.node.children)&&(rowNode.node.children.length==0)&&(spaceTable(rowNode.level+1)!=-1)&&(rowNode.node.childrenForm)">
         
                <td *ngFor="let field of fields; let index=index">
                      <a class="myButton" *ngIf="spaceTable(rowNode.level+1)==index" (click)="addNewRelation(rowNode)">confirmer</a>
                  </td>
                   </tr>
        
        <!--new_relation_form-->
       <tr *ngIf="rowNode.node.last&&!rowNode.node.openForm&&(etapNum==1)&&isWorking">
         
         <td *ngFor="let field of fields; let index=index">
               <a class="myButton" *ngIf="spaceTable(rowNode.level)==index" (click)="openAddForm(rowNode)">+</a>
           </td>
            </tr>
            <tr *ngIf="rowNode.node.last&&rowNode.node.openForm">
                <td *ngFor="let field of fields; let index=index">
                    <div *ngIf="(inRow(field.Name,rowNode.level))&&(field.Status=='modifié')" [ngSwitch]="field.Type" >
                        <input 
                        type="date" 
                        *ngSwitchCase="'date'" style="width: 100px ;"  [(ngModel)]="newRow[field.Name]">
                        <input 
                        type="number" 
                        *ngSwitchCase="'integer'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]">
                        <input 
                        type="checkbox" 
                        *ngSwitchCase="'boolean'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]">
                        <input 
                        type="number" step="0.01"
                        *ngSwitchCase="'real'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]">
                        <div *ngSwitchCase="'character varying(255)'" style="width: 100px ;">
                            <input type="text" *ngIf="field.choises==null" [(ngModel)]="newRow[field.Name]">
                            <select *ngIf="field.choises!=null" [(ngModel)]="newRow[field.Name]">
                                <option value="">choose</option>
                                <option *ngFor="let choix of field.choisesList" value="{{choix}}">{{choix}}</option>
                            </select>
                        </div>
                        <p *ngSwitchDefault>undetermined</p>
                    </div>
                  
                </td>
            </tr>
            <tr *ngIf="rowNode.node.last&&rowNode.node.openForm">
         
                <td *ngFor="let field of fields; let index=index">
                      <a class="myButton" *ngIf="spaceTable(rowNode.level)==index" (click)="addNewRow(rowNode)">confirmer</a>
                  </td>
                   </tr>
   </ng-template>
</p-treeTable>
<!--les_boutons_table-->
<div class="btns">
    <a class="myButton" (click)="returnList()" >return</a> 
    <a *ngIf="reponseIsOnWork&&isWorking" class="myButton" (click)="nextServ()">next</a>  
</div>

</div>
















<!--first_line-->
<div class="bg" *ngIf="startNew&&isWorking"><div class="testbox" *ngIf="startNew&&isWorking">
    <form >
      <div class="banner">
        <h1>welcome to this new reponse {{reponse.reponse_Name}}</h1>
      </div>
      <div *ngFor="let field of fields" class="question" >
        <label *ngIf="inRow(field.Name,0)&&(field.Name!='ID_0')" class="fieldName">{{field.Name}}:</label>
        <div *ngIf="inRow(field.Name,0)&&(field.Status=='modifié')" class="question-answer" [ngSwitch]="field.Type">
                <input 
                type="date" 
                *ngSwitchCase="'date'" style="width: 100px ;"  [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                <input 
                type="number" 
                *ngSwitchCase="'integer'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                <input 
                type="checkbox" 
                *ngSwitchCase="'boolean'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                <input 
                type="number" step="0.01"
                *ngSwitchCase="'real'" style="width: 100px ;" [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                <div *ngSwitchCase="'character varying(255)'" >
                    <input style="width: 100px ;" type="text" *ngIf="field.choises==null" [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                    <select style="width: 100px ;" *ngIf="field.choises!=null" [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                        <option value="">choose</option>
                        <option *ngFor="let choix of field.choisesList" value="{{choix}}">{{choix}}</option>
                    </select>
                </div>
                <p *ngSwitchDefault>undetermined</p>
          
        </div>
      </div>
      <div class="btn-block">
        <button (click)="addFirstRow()">Start</button>
      </div>
    </form>
  </div></div>










</div>
