<div class="container">
    <!--header_Table_formulaire-->

<div class="infoRponse">
     <h3>Reponse:{{reponse.reponse_Name}}</h3>
     <span class="material-symbols-outlined" (click)="openlist()">
        format_list_numbered
        </span>
     <table *ngIf="listIsOpen">
      
            <tr *ngFor="let serv of servs">
            <td><p *ngIf="!reponse.allIn">etape n°{{serv.Serv_order}}</p> <p *ngIf="reponse.allIn">access n°{{serv.Serv_order}}</p></td>
            <td>{{serv.Serv_Name}}</td>
            <td>{{serv.userName}}</td>
            </tr>
     </table>
    <h3  *ngIf="reponseIsOnWork&&!reponse.allIn">etape n°{{etapNum}}</h3>
    <h3  *ngIf="reponseIsOnWork&&reponse.allIn">All In Work</h3>
    <h3 *ngIf="!reponseIsOnWork">reponse est executé </h3>
    <span (click)="openListLig()"  class="material-symbols-outlined reOrder">
        reorder
        </span>
</div>
<div id="myDiv" class="infoTable">
<p-treeTable [value]="data" [columns]="fields" class="tableData" >
    <!-- (onNodeExpand)="activate($event)" (onNodeCollapse)="activate($event)" -->
   <ng-template pTemplate="header" let-columns cdkDropListGroup>
       <tr  cdkDropList
     [cdkDropListData]="fields" 
       (cdkDropListDropped)="drop($event)"
       cdkDropListOrientation="horizontal">
         
           <th cdkDrag *ngFor="let field of fields"  [ngClass]="{resize:field.Name.substring(0, 3)!='ID_'}" (resized)="onResized($event)">
               
               <p cdkDragHandle style="color:#fff ;" class="grab">{{field.Name}}</p>
           </th>
       </tr>
   </ng-template>
 

   <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="fields" >
  

   
    
       <!--lignes_parent-->
       <tr class="line"> 
           <td *ngFor="let field of fields; let i = index;let last=last" [ngStyle]="spaceTable(rowNode.level)==i?{display:'flex'}:{}">
            
            
            <div  *ngIf="(field.Status=='modifié')&&inRow(field.Name,rowNode.level)" [ngClass]="{resize:(field.Type!='character varying(255)')||(field.choises!=null)}" (resized)="onResized($event)" [ngSwitch]="field.Type" >
            <input (change)="changeInField(rowNode,field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
            type="date" 
            *ngSwitchCase="'date'"   [(ngModel)]="rowNode['node'][field.Name]">
            <input (change)="changeInField(rowNode,field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
            type="number" 
            *ngSwitchCase="'integer'"  [(ngModel)]="rowNode['node'][field.Name]">
            <input (change)="changeInField(rowNode,field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
            type="checkbox" 
            *ngSwitchCase="'boolean'"  [(ngModel)]="rowNode['node'][field.Name]">
            <input (change)="changeInField(rowNode,field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
            type="number" step="0.01"
            *ngSwitchCase="'real'"  [(ngModel)]="rowNode['node'][field.Name]">
            <div *ngSwitchCase="'character varying(255)'" >
                <textarea (change)="changeInField(rowNode,field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
                 *ngIf="field.choises==null" [(ngModel)]="rowNode['node'][field.Name]"></textarea>
                <select  (change)="changeInField(rowNode,field.Table_Id,field.Name,rowNode['node'][field.Name],rowNode['node']['id'])" 
                *ngIf="field.choises!=null" [(ngModel)]="rowNode['node'][field.Name]">
                    <option value="">choose</option>
                    <option *ngFor="let choix of field.choisesList" value="{{choix}}">{{choix}}</option>
                </select>
            </div>
            <p *ngSwitchDefault>undetermined</p>
         </div>
         <p *ngIf="field.Status=='consulté'"  [ngClass]="{resize:((field.Type!='character varying(255)')||(field.choises!=null))&&(field.Name!='ID_'+rowNode['level'])}" (resized)="onResized($event)" style="margin:0 ;">{{rowNode['node'][field.Name]}}</p>
         
         
  

            <span  *ngIf="spaceTable(rowNode.level)==i" (click)="deleteRow(rowNode)" class="material-symbols-outlined deleteAndDisplay">
                delete
                </span>
                <a class="squishy btn-1"    [ngClass]="{activate: rowNode['node']['expanded']}" *ngIf="spaceTable(rowNode.level)==i" type="button"><span style="top:-15px;color: #fff;">{{rowNode['node']['id']}}</span>
                    <p-treeTableToggler *ngIf="spaceTable(rowNode.level)==i" [rowNode]="rowNode"></p-treeTableToggler></a>
         <span *ngIf="(spaceTable(rowNode.level)==i)&&(rowNode.level==0)" (click)="openMoreDisplay(rowNode.node)"  class="material-symbols-outlined deleteAndDisplay">
            dvr
            </span>
            <span  *ngIf="((rowNode.node.children)&&isOrganizedRight()&&(rowNode.node.children.length==0)&&(spaceTable(rowNode.level+1)!=-1)&&(!rowNode.node.childrenForm)&&((etapNum==1)||(reponse.allIn))&&(((!reponse.allIn)&&isWorking)||((reponse.allIn)&&(reponseIsOnWork&&isWorking))))&&(spaceTable(rowNode.level)==i)"
            (click)="addNewRelationForm(rowNode)"
            class="material-symbols-outlined deleteAndDisplay">
               subdirectory_arrow_left
               </span>
            
                        </td>
                

       </tr>
       <!-- <tr *ngIf="(rowNode.node.children)&&isOrganizedRight()&&(rowNode.node.children.length==0)&&(spaceTable(rowNode.level+1)!=-1)&&(!rowNode.node.childrenForm)&&((etapNum==1)||(reponse.allIn))&&(((!reponse.allIn)&&isWorking)||((reponse.allIn)&&(reponseIsOnWork&&isWorking)))">  
        <td *ngFor="let field of fields; let index=index">
            <span *ngIf="spaceTable(rowNode.level+1)==index" (click)="addNewRelationForm(rowNode)" class="material-symbols-outlined">
                add_circle
                </span>
             
          </td>
           </tr> -->
        <!--new_relation_form-->
        <tr class="line" *ngIf="(rowNode.node.children)&&(rowNode.node.children.length==0)&&(spaceTable(rowNode.level+1)!=-1)&&(rowNode.node.childrenForm)">
            <td *ngFor="let field of fields; let index=index">
                <div  *ngIf="inRow(field.Name,rowNode.level+1)&&(field.Status=='modifié')&&!field.isChanged" [ngSwitch]="field.Type" >
                    <input 
                    type="date" 
                    *ngSwitchCase="'date'"   [(ngModel)]="newRow[field.Name]">
                    <input 
                    type="number" 
                    *ngSwitchCase="'integer'"  [(ngModel)]="newRow[field.Name]">
                    <input 
                    type="checkbox" 
                    *ngSwitchCase="'boolean'"  [(ngModel)]="newRow[field.Name]">
                    <input 
                    type="number" step="0.01"
                    *ngSwitchCase="'real'"  [(ngModel)]="newRow[field.Name]">
                    <div *ngSwitchCase="'character varying(255)'" >
                        <textarea *ngIf="field.choises==null" [(ngModel)]="newRow[field.Name]"></textarea>
                        <select *ngIf="field.choises!=null" [(ngModel)]="newRow[field.Name]">
                            <option value="">choose</option>
                            <option *ngFor="let choix of field.choisesList" value="{{choix}}">{{choix}}</option>
                        </select>
                    </div>
                    <p *ngSwitchDefault>undetermined</p>
                </div>
              
            </td>

        </tr>
        
            <tr class="line" *ngIf="(rowNode.node.children)&&(rowNode.node.children.length==0)&&(spaceTable(rowNode.level+1)!=-1)&&(rowNode.node.childrenForm)">
         
                <td *ngFor="let field of fields; let index=index">
                      <a class="myButton" *ngIf="spaceTable(rowNode.level+1)==index" (click)="addNewRelation(rowNode)">confirmer</a>
                      <a class="myButton" *ngIf="spaceTable(rowNode.level+1)==index-1" (click)="cancelAddNewRelation(rowNode)" >cancel</a>
                  </td>
                   </tr>
        
        <!--new_ligne_form-->

            <tr class="line" *ngIf="rowNode.node.last&&rowNode.node.openForm">
                <td *ngFor="let field of fields; let index=index">
                    <div  *ngIf="inRow(field.Name,rowNode.level)&&(field.Status=='modifié')&&!field.isChanged" [ngSwitch]="field.Type" >
                        <input 
                        type="date" 
                        *ngSwitchCase="'date'"   [(ngModel)]="newRow[field.Name]">
                        <input 
                        type="number" 
                        *ngSwitchCase="'integer'"  [(ngModel)]="newRow[field.Name]">
                        <input 
                        type="checkbox" 
                        *ngSwitchCase="'boolean'"  [(ngModel)]="newRow[field.Name]">
                        <input 
                        type="number" step="0.01"
                        *ngSwitchCase="'real'"  [(ngModel)]="newRow[field.Name]">
                        <div *ngSwitchCase="'character varying(255)'" >
                            <textarea  *ngIf="field.choises==null" [(ngModel)]="newRow[field.Name]"></textarea>
                            <select *ngIf="field.choises!=null" [(ngModel)]="newRow[field.Name]">
                                <option value="">choose</option>
                                <option *ngFor="let choix of field.choisesList" value="{{choix}}">{{choix}}</option>
                            </select>
                        </div>
                        <p *ngSwitchDefault>undetermined</p>
                    </div>
                  
                </td>
            </tr>
            <tr class="line" *ngIf="rowNode.node.last&&rowNode.node.openForm">
         
                <td *ngFor="let field of fields; let index=index">
                      <a class="myButton" *ngIf="spaceTable(rowNode.level)==index" (click)="addNewRow(rowNode)">confirmer</a>
                      <a class="myButton" *ngIf="spaceTable(rowNode.level)==index-1" (click)="cancelAddNewRow(rowNode)">cancel</a>
                  </td>
                   </tr>
                   <tr class="line" *ngIf="rowNode.node.last&&!rowNode.node.openForm&&isOrganizedRight()&&((etapNum==1)||(reponse.allIn))&&(((!reponse.allIn)&&isWorking)||((reponse.allIn)&&(reponseIsOnWork&&isWorking)))">
         
                    <td *ngFor="let field of fields; let i=index">
                       <span *ngIf="spaceTable(rowNode.level)==i" (click)="openAddForm(rowNode)" class="material-symbols-outlined">
                           add_circle
                           </span>
                          <!-- <a class="myButton" *ngIf="spaceTable(rowNode.level)==index" (click)="openAddForm(rowNode)">+</a> -->
                          
                      </td>
                       </tr>
   </ng-template>
</p-treeTable>
<!--les_boutons_table-->


</div>
<div class="btns">
    <a class="myButton" (click)="returnList()" >return</a> 
    <a *ngIf="reponseIsOnWork&&isWorking" class="myButton" (click)="nextServ()">next</a>  
</div>
















<!--first_line-->
<div class="bg" *ngIf="startNew&&isWorking"><div class="testbox" *ngIf="startNew&&isWorking">
    <form >
      <div class="banner">
        <h1>welcome to this new reponse {{reponse.reponse_Name}}</h1>
      </div>
      <div *ngFor="let field of fields" class="question" >
        <label *ngIf="inRow(field.Name,0)&&(field.Name!='ID_0')" class="fieldName">{{field.Name}}:</label>
        <div *ngIf="inRow(field.Name,0)&&(field.Status=='modifié')" class="question-answer" [ngSwitch]="field.Type">
                <input 
                type="date" 
                *ngSwitchCase="'date'"   [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                <input 
                type="number" 
                *ngSwitchCase="'integer'"  [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                <input 
                type="checkbox" 
                *ngSwitchCase="'boolean'"  [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                <input 
                type="number" step="0.01"
                *ngSwitchCase="'real'"  [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                <div *ngSwitchCase="'character varying(255)'" >
                    <textarea   *ngIf="field.choises==null" [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}"></textarea>
                    <select  *ngIf="field.choises!=null" [(ngModel)]="newRow[field.Name]" [ngModelOptions]="{standalone: true}">
                        <option value="">choose</option>
                        <option *ngFor="let choix of field.choisesList" value="{{choix}}">{{choix}}</option>
                    </select>
                </div>
                <p *ngSwitchDefault>undetermined</p>
          
        </div>
      </div>
      <div class="btn-block">
        <button (click)="addFirstRow()">Start</button>
      </div>
    </form>
  </div></div>










</div>





<div  *ngIf="listLig"  class="overlay">
	<div class="popup">
		<h2>Here i am</h2>
		<a class="close"  (click)="openListLig()">&times;</a>
		<div class="content">
            <table cdkDropListGroup>
                <thead>
                    <th *ngFor="let field of reponse.tables[0].fields">{{field.Name}}</th>
                </thead>
                <tbody cdkDropList
                [cdkDropListData]="data"
                (cdkDropListDropped)="dropLig($event)">
                    <tr  cdkDrag class="grab"  *ngFor="let lig of data">
                        <td *ngFor="let field of reponse.tables[0].fields">{{fieldValLig(lig,field.Name)}}</td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>
