<p>s8o1o9o2o1-inputdata works!</p>

<div>

    <button 
        type="Css_Submit">
        Cmd Center 1
    </button>
    <button 
        type="Css_Submit">
        File X
    </button>
    <button 
        type="Css_Submit">
        Ensemble Data change
    </button>
    <button 
        type="Css_Submit">
        Fonction 1
    </button>
</div>

<div>

    <button 
        type="Css_Submit">
        Cmd Center 2
    </button>
    <button 
        type="Css_Submit">
        File Y
    </button>
    <button 
        type="Css_Submit">
        Ensemble Data
    </button>
    <button 
        type="Css_Submit">
        Fonction 3
    </button>

</div>