

<form class="Css_MyForm">
    <div>
            <div>
                <button 
                    type="Css_Submit">
                    CmdCenter1
                </button>
            </div>


            <div>
                From
                <button 
                    type="Css_Submit">
                    File1
                </button>
                <button 
                    type="Css_Submit">
                    data1
                </button>
            </div>


            <div>
                <button 
                    type="Css_Submit">
                    File2
                </button>
                <button 
                    type="Css_Submit">
                    data2
                </button>
            </div>


            <div>
                <button 
                    type="Css_Submit">
                    File3
                </button>
                <button 
                    type="Css_Submit">
                    data3
                </button>
            </div>


            <div>
                <button 
                    type="Css_Submit">
                    File4
                </button>
                <button 
                    type="Css_Submit">
                    data4
                </button>
            </div>

         
            
            <div>
                <button 
                    type="Css_Submit"
                    (click)="TS_CmdCenterDetail_ButtonClick_Return()">
                    Return
                </button>
            </div>
            
    </div>
</form>







