<div class="container" style="width: 60%">
  <article class="card">
    <header class="card-header">Mes commandes</header>
    <div class="card-body" *ngFor="let item of orders; let index = index">
      <h6>Numero de commande: #{{ item[0].Ord_Id }}</h6>
      <article class="card">
        <div class="card-body row">
          <div class="col">
            <strong>Date de commande:</strong> <br />{{ item[0].Ord_Date }}
          </div>
          <div class="col"><strong>Date de livraison :</strong> <br /></div>
          <div class="col">
            <strong>Etat de commande:</strong> <br />
            {{ item[0].Ord_Status }}
          </div>
          <div class="col">
            <strong>Totale :</strong> <br />
            {{ item.total }} $
          </div>
        </div>
      </article>
      <div class="d-flex justify-content-between mt-4">
        <select
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
          id="C{{ index }}"
        >
          <option selected class="d-flex  text-center" value="" *ngIf="item.islivred">
            <p  >
            la commande est livrée
          </p>
          </option>
          <option selected value="" *ngIf="!item.islivred">
            Changer l'état de la commande
          </option>
          <option
            value="en livraison,{{ item[0].Ord_Id }},{{ item[0].User }}"
            *ngIf="!item.islivred"
          >
            en livraison
          </option>
          <option
            value="livrée,{{ item[0].Ord_Id }},{{ item[0].User }}"
            *ngIf="!item.islivred"
          >
            Livrée
          </option>
        </select>
      </div>
      <a class="d-flex justify-content-end" (click)="open()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-down"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
          />
        </svg>
      </a>
      <hr />
      <ul class="row" *ngIf="isOpen == true">
        <li class="col-md-4" *ngFor="let prod of item[1]">
          <figure class="itemside mb-3">
            <div class="aside">
              <img
                src="../../assets/{{ prod.Prod_Img }}"
                class="img-sm border"
              />
            </div>
            <figcaption class="info align-self-center">
              <p class="title">
                {{ prod.Prod_Name }} <br />
                8GB RAM
              </p>
              <span class="text-muted">{{ prod.Prod_Price }} $</span>
            </figcaption>
          </figure>
        </li>
      </ul>
      <hr />
    </div>
  </article>
  <div class="d-flex justify-content-end">
    <button href="#" class="btn btn-warning" (click)="valide()">
      <i class="fa fa-chevron-right"></i> valider
    </button>
  </div>
</div>
