<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><i class="fa fa-cube"></i>Clever<b>Flow</b></a>  		

	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->

		<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search by Name">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li *ngIf="authentificated" (click)="openNotif()"><a class="notifications"><span class="material-symbols-outlined">
        notifications
        </span><span class="badge" *ngIf="numberOfnotifications!=0">{{numberOfnotifications}}</span></a></li>
			<li class="dropdown">
        <a class="signin" label="Click"  (click)="toggleChild()"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
          fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        </svg> </a>
        <app-user-menu [showMePartially]="showVar"></app-user-menu>
        <app-user-notifactions [showMePartially]="showNotif" ></app-user-notifactions>
			</li>

		</ul>

</nav>
