<!-- Commentaire -->


<br>
<app-s6-projet></app-s6-projet>

<br><br><br>

<br><br><br><br>


<div (drop)="TS_OnDrop($event)" (dragover)="TS_OnDragOver($event)">
    <app-s8o1-ressources></app-s8o1-ressources>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- Debut Drag and Drop 
    
<app-s7-ruban></app-s7-ruban>

<div (drop)="TS_OnDrop($event)" (dragover)="TS_OnDragOver($event)">
    <app-s8o1-ressources></app-s8o1-ressources>
</div>
Fin Drag and Drop -->





<!-- Debut Drag and Drop 
<div (drop)="TS_OnDrop($event)" (dragover)="TS_OnDragOver($event)">
    <app-s8o1-ressources></app-s8o1-ressources>
</div>
Fin Drag and Drop -->





Bonjour1
Bonjour2



Bonjour3
<h1>Composant actuellement affiché : {{ VarS_CurrentComponent }}</h1>

<br>




Bonjour44
<br><br>



<br><br><br>
Bonjour2
<br><br><br>

<div>
    Composant actuel : {{ VarS_CurrentComponent }}
</div>
  
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<br><br><br>
Bonjour3
<br><br><br>









<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

