




<div class="groupSelection">
  <h6>Groups:</h6>
  <table>
    <tr>
      <td [ngClass]="{'groupSelected':allIsSelected}" (click)="selectAllOption()">
        all
      </td>
    </tr>
    <tr *ngFor="let groups of groupsMatrix;let index=index">
      <td *ngFor="let group of groups" [ngClass]="{'groupSelected':group.selected}" (click)="selectGroup(group,index)">
        {{group.Group_Name}}
      </td>
      
    </tr>
  </table>
<h6 *ngIf="forms.length!=0">Forms:</h6>
  <table *ngIf="forms.length!=0">
    <tr>
      <td *ngFor="let form of forms" [ngClass]="{'groupSelected':form.selected}" (click)="selectFrom(form)">
        {{form.Formulaire_Name}}
      </td>
    </tr>
  </table>
  <h6 *ngIf="responses.length!=0">Response:</h6>
  <table *ngIf="responses.length!=0">
    <tr>
      <td *ngFor="let response of responses" [ngClass]="{'groupSelected':response.selected}" (click)="selectResponse(response)">
        {{response.reponse_Name}}
      </td>
    </tr>
  </table>
</div>
    

<div class="cards-list">
  <div *ngFor="let graph of graphs;let index=index" class="graph-card" >

    <div class="card"  (click)="getcode(index)">
    
      <img src="{{getImgUrl(graph)}}" class="card_title title-white graph-img" />
    
    </div>
    <p>{{graph.File_Name}}</p>
  </div>

  
  
</div>

<div *ngIf="canAdd" class="addDiv" (click)="addCode()">

  <span class="material-symbols-outlined">
    add_circle
    </span>
</div>



    <div class="bg" *ngIf="showCodeIsOpen||addCodeFormIsOpen">
      <div class="testbox">
      <mat-tab-group  [selectedIndex]="selected.value"class="tabsHeading">
        <mat-tab [label]="tab.File_Name" *ngFor="let tab of lotsOfTabs">
          <app-python-compiler  *ngIf="showCodeIsOpen"   [editable]="true" [codeGraph]="tab" [reponse_id]="tab.Reponse_Id" (closePopUp)="openCode($event)" (GraphTab)="openGraphTab($event)"></app-python-compiler>
          <app-python-compiler *ngIf="addCodeFormIsOpen" [reponse_id]="responseSelected" (closePopUp)="openAddCode()"></app-python-compiler>
        </mat-tab>
      </mat-tab-group>
      <span *ngIf="showCodeIsOpen" (click)="closeTabes()" class="material-symbols-outlined closeTabs">
        cancel
        </span>
      </div>
    </div>
    

