.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  max-height:500px;
  overflow:hidden;
  overflow-x:auto;
}

.card {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  border: solid;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  justify-content: center;
}

.card:hover{
  color: #fff;
  background-color: #1b96fa;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0px;
  height: 100%;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.graph-card{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.title-white {
  color: black;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.selected{
  background-color: #003865;;
}
.selected p{
  color: aliceblue;
}
.notSelected{
  background-color: white;
}
.notSelected p{
  color: black;
}



.bg{
position: fixed;
top: 0;
left: 0;
z-index: 1040;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.4);
backdrop-filter: blur(15px);
}

.groupSelection{
margin: 5% 5% 3% 5%;
border: solid;
border-radius: 16px;
}

.groupSelection table{
margin: 2%;
border-collapse: separate;
border-spacing: 30px 20px;
overflow:hidden;
overflow-x:auto;

}
.groupSelection table tr td{
border: solid;
text-align: center;
width: 1%;
padding: 1%;
border-radius: 30px;
cursor: pointer;
}
.groupSelection table tr td:hover{
color: #fff;
background-color: #1b96fa;
}
h6{
margin: 2%;
}

.groupSelected{
color: #fff;
background-color: #003865;
}

.graphs{

}

.graphs table{
margin: 1%;
border-collapse: separate;
border-spacing: 30px 0; 
overflow:hidden;
overflow-x:auto;
}

.graphs table tr td{
border: solid;
text-align: center;
width: 1%;
padding: 1%;
border-radius: 30px;
max-width: 20px;
}

.testbox {
  display: flex;
  justify-content: center;
  position:fixed;
  top:5%;
  right: 25%;
  z-index: 100;
  align-items: center;
  overflow:hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  
  }

  .tabsHeading{
    background-color: #fff;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
  }

.closeTabs{
  
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 100;
  cursor: pointer;
}
.closeTabs:hover{
  color: #e83535;
}

.addCodeBlock{
  margin: 5% auto;
}
