
<div *ngIf="showMePartially">
    <div class="action">


        <div class="menu">
            <h3> <span>notifications</span></h3>
            <ul>
                <li *ngFor="let reponse of reponses" (click)="openReponse(reponse)">
                    <span class="material-symbols-outlined">
                        priority_high
                        </span>
                    <a label="Click" >{{reponse.reponse_Name}}</a>

                </li>
            </ul>
        </div>
    </div>
</div>

