@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background: #eee;
}
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  
}
body {
  background-color: #eeeeee;
  font-family: "Open Sans", serif;
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
  position:relative;
  margin:auto;
  padding:0px;
  text-align:center;

}
.card-header:first-child {
  border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.track {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 50px;
}
.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative;
}
.track .step.active:before {
  background: #286da8;
}
.track .step::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 18px;
}
.track .step.active .icon {
  background: #286da8;
  color: #fff;
}
.track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd;
}
.track .step.active .text {
  font-weight: 400;
  color: #000;
}
.track .text {
  display: block;
  margin-top: 7px;
}
.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.itemside .aside {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.img-sm {
  width: 80px;
  height: 80px;
  padding: 7px;
}
ul.row,
ul.row-sm {
  list-style: none;
  padding: 0;
}
.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}
.itemside .title {
  display: block;
  margin-bottom: 5px;
  color: #212529;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.btn-warning {
  color: #ffffff;
  background-color: #286da8;
  border-color: #286da8;
  border-radius: 1px;
  margin: 20px;
}
.btn-warning:hover {
  color: #ffffff;
  background-color: #286da8;
  border-color: #286da8;
  border-radius: 1px;
}

/*btn filter*/
.filter{
  width: 30%;
  position: relative;
  float: left;
  height: 36px;
  border-radius: 20px;
  
}
.filter:hover{
  border-radius: 10px;
}



/* styles of table
table.blueTable {
  border: 1px solid #6E85B7;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout:fixed;
}
table.blueTable td, table.blueTable th {
  border: none ;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

*/
table{
  width: 100%; 
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64,64,64,.7);
  border-radius: 100px;

 
 }
 td , th{
  padding: 15px 20px;
  text-align: center;
  width: 25% ;
  
 
 }
 th{
  background-color: #286da8;
  color: #fafafa;
  font-family: 'Open Sans',Sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  word-wrap:break-word
 
 }
 tr{
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  border-radius: 100px;
 }
 tr:nth-child(even){
  background-color: #eeeeee;
 }

.grab {
  cursor: -webkit-grab;
  cursor: grab;

}
.hide{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.opendiv{
  width: inherit ;
}
.chance{
  padding: 2px 0;
  width: 10%;
  text-align: center;
  font-size: 10px;
  border:#000 10px;
}
.chance{
  padding: 2px 0;
  width: 10%;
  text-align: center;
  font-size: 10px;
  border:#000 10px;
}

/*search bar*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
  width: 50%;
  float: right;
  position: relative;
  display: flex;
  left: 50%;
  bottom: 100px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.filter{
  width: 20%;
  margin: 20px;
}
.notFound{
  margin: 20px;
}



.cell-all{
width: 500px;  
}
.myButton {
  padding: 0.5em 0.7em;
  background: #B2C8DF;
  border: none;
  border-radius: 1000px;
  color: #002B5B;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  margin: 10px;
  
}
.myButton:hover{
  background:#6E85B7
}






.listItems{
  height:auto;
  width: 75%;
  position:fixed;
  border-style: groove;
  top:25%;
  right: 100px;
  left: 100px;
  bottom: 20px;
  z-index:100;
  text-align:center;
  font-family: "Lato", sans-serif;
  background-color: #599bb3;
  overflow:hidden;
  overflow-y:scroll;
}

.main {
  margin: 10%; /* Same as the width of the sidenav */
}
.card-prod {
  max-width: 200px;
  margin: auto;
  padding:50px ;
  text-align: center;
  font-family: arial;
  margin: 2%;
}

.price {
  color:#286DA8;
  font-size: 14px;
}

.allcard{
  display: flex;
  flex-wrap: wrap;
}
.cardimg{
    border-radius: 15px ;
    height: 50%;
}
.card a ,p,h3 {
    color:#286DA8;
}

.close{
  position:fixed;
  right: 90%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  position: relative;
  left: 75%;
}
.inputdate{
  margin-bottom: 25px;
}

