<!-- 
   s8o1o8-database - (/5)(6) Output - Results -> Communication Files ( <app-s8o1-ressources> - <app-s8o1o8-database> )
-->

a21:
{{ Input_VarS_IFU_Recherche }}
a22:
{{ Get_DB_FBtn_FrontBehindObject }}
a22:
{{ Output_from_VarS_IFU_FrontBehindObject }}
a22:



<!--
                                        <div *ngIf="VarB_FileRessources">
                                            <app-s8o1-ressources> 
                                            </app-s8o1-ressources>
                                        </div>
-->

<!-- 
    2. Action HTML with Files
-->
<!-- 
<app-s8o1o7-draggable
    [Input_VarS_IFU_Recherche]="Input_VarS_IFU_Recherche"
    (Output_from_VarS_IFU_FrontBehindObject)="TS_UpdateOutputValue($event)"
    [Input_Tab_ActualDataPosition]="Input_Tab_ActualDataPosition"
    
    [Input_Get_DB_FBtn_Object]= "Get_DB_FBtn_Object"  
    [Input_Get_DB_FBtn_PositionX]= "Get_DB_FBtn_PositionX"
    [Input_Get_DB_FBtn_PositionY]= "Get_DB_FBtn_PositionY"
    [Input_Get_DB_FBtn_PositionX_2]= "Get_DB_FBtn_PositionX_2"
    [Input_Get_DB_FBtn_PositionY_2]= "Get_DB_FBtn_PositionY_2"> 

</app-s8o1o7-draggable>

s8o1o8-database - (/1)(2) Output - Results -> Communication Files ( <app-s8o1o8-database> - <app-s8o1o7-draggable> )
-->


