<div class="container">
<div style="margin-bottom:40px ;">
 <h3 class="titelTop">exemplaire: {{formulaire.Formulaire_Name}}</h3>
 <div *ngIf="isGenerated">
    <div class="servNav">
        <ul class="servListing">
            <li> <a><span (click)="prevServ()" *ngIf="isGenerated" class="material-symbols-outlined flechBtn">
                arrow_back
                </span></a></li>
            <li>    <select (change)="fieldsToShow()" [(ngModel)]="shownServNum">
                <option *ngFor="let serv of servsEtap;" value="{{serv.Serv_order}}">serv n°{{serv.Serv_order}}</option>
                <option *ngIf="formulaire.services&&(servsEtap.length!=formulaire.services.length)" value="{{currentsrvOrd}}">new...</option>
            </select></li>
            <li><a><span *ngIf="isGenerated" (click)="nextServ()" class="material-symbols-outlined flechBtnup">
                arrow_forward
                </span></a> </li>
        </ul>
    </div>


<p class="role_access">role/access n°{{shownServNum}}</p>


<select class="sevList" [(ngModel)]="currentsrvName" (change)="changeServName()">
    <option *ngIf="currentsrvName==''" value="">choose Service</option>
<option *ngFor="let serv of formulaire.services" value="{{serv.Serv_Name}}">{{serv.Serv_Name}}<span *ngIf="ifUsed(serv.Serv_Name)">(used)</span> </option>
</select>
<p class="alterModifie" *ngIf="alterModifie">Access modifié</p>
</div>
 <div class="tableFields">
  <table >
    <thead>
        <tr>
            <th>Champ</th>
            <th>Type</th>
            <th></th>
             <th>description</th>
             <th *ngIf="isGenerated">fonction</th>
             <th *ngIf="!isGenerated"></th>
             <th></th>
        </tr>
    </thead>

    <tbody class="tableFields"
    cdkDropList  
class="example-list"
[cdkDropListData]="fields" 
(cdkDropListDropped)="dropFields($event)"
cdkDropListOrientation="vertical">

        <!--ligne_crées-->
   <tr cdkDrag class="grab"  *ngFor="let field of fields;let index=index"> 
    <td> <p *ngIf="!field.editName">{{field.Name}}<i class="material-icons editIcon" *ngIf="(field.Name!='ID')&&!isGenerated" (click)="openNameForm(index)" >edit</i></p>
        <input style="width: 100px ;" type="text" *ngIf="field.editName" [(ngModel)]="field.Name" placeholder="field Name...">
        <i class="material-icons editIcon" *ngIf="field.editName&&(field.Name!='ID')" (click)="closeNameForm(index)">edit</i></td>
    <td> <p *ngIf="!field.editType">{{field.Type}}<i class="material-icons editIcon" *ngIf="(field.Name!='ID')&&!isGenerated" (click)="openTypeForm(index)" >edit</i></p>
        <select *ngIf="field.editType" [(ngModel)]="field.Type" (change)="openTypeForm(index)" >
            <option *ngIf="field.Type==''" value="" >choose Type</option>
            <option *ngFor="let type of Types" value="{{type.value}}">{{type.Name}}</option>
        </select>
        <i class="material-icons editIcon" *ngIf="(field.Name!='ID')&&!isGenerated&&field.editType" (click)="openTypeForm(index)" >edit</i>
    </td>
    <td style="display:flex ;"><a *ngIf="(field.Type=='list')&&!isGenerated" (click)="openChoicesPopUp(field.Field_Id)" class="myButton">Manage Choices</a></td>
    <td *ngIf="field.Name!='ID'"><p *ngIf="!field.editDesc">{{field.Serv_description}} 
        <i *ngIf="!isGenerated"  class="material-icons editIcon" (click)="editDesc(index)" >edit</i></p>
        <input *ngIf="field.editDesc" type="text" [(ngModel)]="field.Serv_description">
        <i class="material-icons editIcon" *ngIf="field.editDesc" (click)="editDesc(index)" >edit</i></td>
    <td *ngIf="isGenerated">
         <!-- <p *ngIf="!field.editSataus&&(field.Status!=null)&&(field.Name!='ID')">{{field.Status}} <i class="material-icons editIcon" (click)="editSatus(index)">edit</i></p>
       <select *ngIf="field.editSataus||(field.Status==null)" [(ngModel)]="field.Status" (change)="correctionField(index)">
            <option *ngIf="field.Status==null" value="null">choose function</option>
            <option value="consulté">consulté</option>
            <option value="modifié">modifié</option>
            <option value="invisible">invisible</option>
        </select> -->
        <table *ngIf="field.Name!='ID'" class="statusChoses">
            <tr>
                <td class="choise" [ngStyle]=" field.Status=='modifié' ? {'background-color':'#B1D0E0'}:{}" (click)="correctionField(index,'modifié')">modifié</td>
                <td class="choise" [ngStyle]=" field.Status=='consulté' ? {'background-color':'#B1D0E0'}:{}" (click)="correctionField(index,'consulté')">consulté</td>
                <td class="choise" [ngStyle]=" field.Status=='invisible' ? {'background-color':'#B1D0E0'}:{}" (click)="correctionField(index,'invisible')">invisible</td>
            </tr>
        </table>
        <!-- <i *ngIf="field.editSataus||(field.Status==null)" class="material-icons editIcon" (click)="editSatus(index)">edit</i> -->
     </td>
     <td *ngIf="!isGenerated"></td>
     <td style="text-align:left ;"><span *ngIf="(field.Name!='ID')" class="material-symbols-outlined" (click)="openDeleteField(index,field.Name)">
        cancel
        </span></td></tr>
<!--espace_ajout_field-->
<tr *ngIf="fieldFormIsOpen">
    <td><input type="text" [(ngModel)]="newFieldName" placeholder="field Name..."></td>
    <td>
        <select [(ngModel)]="newFieldType">
         <option *ngIf="newFieldType==''" value="" >choose type</option>
         <option *ngFor="let type of Types" value="{{type.value}}">{{type.Name}}</option>
        </select>
    </td>
    <td></td>

    <td><input type="text" [(ngModel)]="newFieldStatus"></td>
    <td></td>
    <td *ngIf="isGenerated"><select [(ngModel)]="newFieldLevel">
        <option value="" >choose level</option>
        <option *ngFor="let table of formulaire.tables" value="{{table.Table_level}}">{{table.Table_level}} </option>
        <option  value="new">new...</option>
    </select></td>
    <td *ngIf="!isGenerated"></td>
</tr>
<!--validation_ajout_field-->
<tr *ngIf="fieldFormIsOpen">
    <td></td>
    <td></td>
    <td></td>
    <td><a class="myButton" (click)="openfieldForm()">cancel</a></td>
    <td><a class="myButton" (click)="confirmAdd()">confirmer</a></td>
    <td *ngIf="isGenerated"></td>
    <td *ngIf="!isGenerated"></td>

</tr>
<tr *ngIf="!fieldFormIsOpen">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <span (click)="openfieldForm()" class="material-symbols-outlined">
            add_circle
            </span>
        </td>
<td></td>
  </tr>

    </tbody>
  </table>
</div>

</div>
<div class="currentserv">
    <a *ngIf="fieldsInArchive.length!=0" class="myButton" (click)="openArchiveList()">Archive</a>
    </div>


<div>

<!--organisation_niveau-->
<div class="tableLevel">
<table cdkDropListGroup style="width:auto;">
<tbody *ngFor="let table of formulaire.tables;let index=index;let last=last"  >

<tr  cdkDropList  
class="example-list"
[cdkDropListData]="table.fields" 
(cdkDropListDropped)="drop($event)"
cdkDropListOrientation="horizontal"
id="{{index}}">
<td *ngFor="let space of spaces(index)"></td>
<td>ID</td>
<td cdkDrag class="grab example-box" *ngFor="let field of table.fields">{{field.Name}}</td>

</tr>

        </tbody>
        <tbody *ngIf="!isGenerated">
            <tr>
                <td ><span (click)="addNewTable()" class="material-symbols-outlined">
                    add_circle
                    </span></td> 
             </tr>
        </tbody>
    </table>
</div>

<div class="functionsChoice" *ngIf="isGenerated">
    <table>
        <tr *ngFor="let function of functions;let index=index">
            <td>{{function.Function_Name}}</td>
            <td>
                <tr>
                    <td class="choise" [ngStyle]=" function.Is_Visible ? {'background-color':'#B1D0E0'}:{}" (click)="correctionFunction(index)">visible</td>
                    <td class="choise" [ngStyle]=" !function.Is_Visible ? {'background-color':'#B1D0E0'}:{}" (click)="correctionFunction(index)">invisible</td>
                </tr>

            </td>
            
        </tr>
    </table>
</div>





    <div class="currentserv">
        <a *ngIf="!isGenerated" class="myButton" (click)="generatFields()">Generat</a>
        <a *ngIf="isGenerated" class="myButton" (click)="End()">End</a>
        </div>

</div>
</div>


<div class="bg" *ngIf="archiveListIsOpen||todeleteField ||fieldExistInArchiveTab||ChoicesPopUp">
    <div  class="testbox" *ngIf="archiveListIsOpen">
<table>
    <thead>
        <tr>
        <th>name</th>
        <th class="removeArchive"><span class="material-symbols-outlined" (click)="openArchiveList()">
            cancel
            </span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of fieldsInArchive;let index=index">
            <td>{{field.Name}}</td>
            <td class="removeArchive"><span class="material-symbols-outlined" (click)="getOutOfArchive(index)">
                add_circle
                </span></td>
        </tr>
    </tbody>
    
</table>
    </div>
    

    <div class="deletePopUp" *ngIf="todeleteField">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header flex-column">
              <div class="icon-box">
                <i class="material-icons">&#xE5CD;</i>
              </div>						
              <h4 class="modal-title w-100">Are you sure?</h4>	
            </div>
            <div class="modal-body">
              <p>Do you really want to put {{deleteFieldName}} in archive?</p>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" (click)="openDeleteField(null,'')">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="deleteField(toDeleteFieldIndex)">Delete</button>
            </div>
          </div>
        
        </div>
        </div>
        <div class="deletePopUp" *ngIf="fieldExistInArchiveTab">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header flex-column">						
                  <h4 class="modal-title w-100">You Already created this field and deleted it!</h4>	
                </div>
                <div class="modal-body">
                  <p>Do you want to get {{fieldsInArchive[indexToExtract].Name}} of type {{fieldsInArchive[indexToExtract].Type}} out of archive?</p>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-secondary" (click)="fieldExistInArchiveTabOpen(-1)">Cancel</button>
                  <button type="button" class="btn btn-confirm" (click)="getOutOfArchive(indexToExtract)">Confirm</button>
                </div>
              </div>
            
            </div>
            </div>
            <app-choices-pop-up (closePopUp)="closeChoicesPopUp($event)" [ChoicesPopUp]="ChoicesPopUp" [FieldId]="FieldIdChoices"></app-choices-pop-up>
</div>
