.allcontainer {
  font-family: "Lato", sans-serif;

  width: 100%;
  height: auto;
  display: flex;
}
.main {
  margin: 10%; /* Same as the width of the sidenav */
}
.card {
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 2%;
}

.price {
  color:#286DA8;
  font-size: 14px;
}

/*.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #286DA8;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 14px;
}*/

/*.card button:hover {
  opacity: 0.7;
}*/
.allcard{
  display: flex;
  flex-wrap: wrap;
}
.cardimg{
    border-radius: 15px ;
    height: 50%;
}
.card a ,p,h3 {
    color:#286DA8;
}
/*button{
  border: none;
  border-radius: 15px;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #286DA8;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}*/
