<div class="allcontainer ">

  <app-sidebar></app-sidebar>


  <div class="main" >
    <div class="allcard">
      <div class="card" *ngFor="let l of products">
          <img  src="../../assets/{{l.Prod_Img}}" style="width:80%" class="cardimg justify-content-center m-auto">

        <h3>{{ l.Prod_Name }}</h3>
        <p class="price">{{l.Prod_Price}} $</p>
        <a  (click)="details(l.Prod_Id)">Voir details</a>
        <p><button class="btn btn-outline-secondary"  (click)="Add_Order(l.Prod_Id) " *ngIf="!isFnx" >Ajouter au panier</button></p>

      </div>
    </div>
  </div>
</div>
